<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jovian career</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <style>
            #banner{
                height: 400px;
                width: 100%;
                object-fit: cover;
            }
        </style>
    </head>
    <body>
        {% include 'nav.html' %}
        <div class="container">
            <h1 class="text-center mt-4">{{company_name}} Careers</h1>
            <img id='banner' class="img-responsive" src="static/onizuka.jpg" height="320">
            <h2>About Jovian</h2>
            <p class="lead">
                ornvurrrrrrrrrrrrrnfv uuf uur vrgurghurhviuughcnuohg ornvurrrrrrrrrrrrrnfv uuf uur vrgurghurhviuughcn
                ornvurrrrrrrrrrrrrnfv uuf uur vrgurghurhviuughcnuohgornvurrrrrrrrrrrrrnfv uuf uur vrgurghurhviuughcnuohg
                ornvurrrrrrrrrrrrrnfv uuf uur vrgurghurhviuughcnuohgornvurrrrrrrrrrrrrnfv uuf uur vrgurghurhviuughcnuohg
                ornvurrrrrrrrrrrrrnfv uuf uur vrgurghurhviuughcnuohgornvurrrrrrrrrrrrrnfv uuf uur vrgurghurhviuughcnuohg
                ornvurrrrrrrrrrrrrnfv uuf uur vrgurghurhviuughcnuohgornvurrrrrrrrrrrrrnfv uuf uur vrgurghurhviuughcnuohg
                ornvurrrrrrrrrrrrrnfv uuf uur vrgurghurhviuughcnuohgornvurrrrrrrrrrrrrnfv uuf uur vrgurghurhviuughcnuohg.
            </p>
            <h2>Job Openings</h2>
            <p>
                {% for job in jobs %}
                {% include 'jobitem.html' %}
                {% endfor %}
            </p>
            <div>
                <button>Contact Us</button>
            </div>
            <p>Copyright 2023</p>
        </div>
    </body>
</html>